[buildout]
extends =
    https://raw.github.com/ploneintranet/ploneintranet.suite/master/buildout.cfg

package-name = ploneintranet.workspace

extensions = mr.developer
auto-checkout = 
    collective.workspace
    ploneintranet.invitations

[sources]
collective.workspace = git git@github.com:ploneintranet/collective.workspace.git
ploneintranet.invitations = git git@github.com:ploneintranet/ploneintranet.invitations

[versions]
plone.api >= 1.2.0
